<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="最好听的、最全的音乐">
    <meta name="author" content="康旭">
    <title>light音乐</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/ico/light.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/music/css/light.css}">
    <link rel="stylesheet" th:href="@{/plugins/adminLTE/css/AdminLTE.css}">
    <script th:src="@{/music/js/tools.js}"></script>
    <script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
</head>
<body>
<!--头部导航栏-->
<div th:replace="~{commons/commons::topBar}"></div>
<!--内容-->
<div class="middle">
    <div style="float: left;width: 100%;height: 100%">
        <div style="margin: 50px auto;text-align: center;width: 400px;height: 90%;border: 1px solid #000;box-shadow: 0 0 10px #ead5ee;border-radius: 10px;">
            <form th:action="@{/user/saveUser.do}" method="post">
                <img style="margin-top: 20px" class="mb-4" th:src="@{/img/light.jpg}" alt="图片加载失败" width="72"
                     height="72">
                <h1 style="color:whitesmoke;" class="h3 mb-3 font-weight-normal">[[#{register.tip}]]</h1>
                <p th:if="${! #strings.isEmpty(msg)}" th:text="${msg}" style="color: red"/>
                <input style="width: 340px;margin: 0 auto;border-radius: 10px" type="text" name="email"
                       class="form-control" th:placeholder="#{register.email}" required="">
                <br>
                <input style="width: 340px;margin: 0 auto;border-radius: 10px" type="text" name="nickname"
                       class="form-control" th:placeholder="#{register.nickname}" required="">
                <br>
                <input style="width: 340px;margin: 0 auto;border-radius: 10px" type="password" name="password"
                       class="form-control" th:placeholder="#{register.password}" required="">
                <br>
                <input style="width: 340px;margin: 0 auto;border-radius: 10px" type="password" name="verifyPwd"
                       class="form-control" th:placeholder="#{register.verify}" required="">
                <br>
                <select style="width: 340px;margin: 0 auto;border-radius: 10px" class="form-control select2" name="sex">
                    <option value="2">[[#{register.select}]]</option>
                    <option value="0">[[#{register.girl}]]</option>
                    <option value="1">[[#{register.boy}]]</option>
                </select>
                <br>
                <button style="width: 340px;margin: 0 auto;border-radius: 20px" class="btn btn-lg btn-primary btn-block"
                        type="submit">[[#{register.btn}]]
                </button>
                <br>
                <a style="width: 340px;margin: 0 auto;border-radius: 20px" th:href="@{/toLogin.do}"
                   class="btn btn-lg btn-outline-light btn-block">[[#{register.back}]]</a>
                <p class="mt-5 mb-3 text-muted">© light音乐</p>
                <a class="btn btn-sm" th:href="@{/toRegister.do(l='zh_CN')}">中文</a>
                <a class="btn btn-sm" th:href="@{/toRegister.do(l='en_US')}">English</a>
            </form>
        </div>
    </div>
</div>
<!--底部信息提示栏-->
<div th:replace="~{commons/commons::footBar}"></div>
</body>
<script th:src="@{/js/cookie.js}"></script>
<script>
    let queryName = get("#queryName");
    queryName.onkeypress = handleEnter;

    /**
     * 回车提交事件
     * @param event
     */
    function handleEnter(event) {
        if (event.which === 13) {
            window.location.href = "[[@{/song/query.do/}]]" + queryName.value;
        }
    }
</script>
</html>