<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="最好听的、最全的音乐">
    <meta name="author" content="康旭">
    <title>light音乐</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/ico/light.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/music/css/light.css}">
    <link rel="stylesheet" th:href="@{/plugins/adminLTE/css/AdminLTE.css}">
    <script th:src="@{/music/js/tools.js}"></script>
    <style type="text/css">
        a {
            color: #5d59a6;
        }

        a:hover {
            color: green;
        }
    </style>
</head>
<body>
<!--头部导航栏-->
<div th:replace="~{commons/commons::topBar}"></div>
<!--正文-->
<div class="middle">
    <!--专辑信息-->
    <div style="height: 240px;width: 100%; padding-top: 50px;margin: 0 auto;text-align: center;color: whitesmoke">
        <div th:each="album:${albums.get(0)}">
            <div style="margin-left: 20%;width: 12%;height: 155.75px;float: left">
                <img style="width: 155.75px;border-radius: 50%" th:src="@{/} + ${album.getImageStr()}" alt="图片加载失败">
            </div>
            <div style="margin-left: 34%;width: 20%;height: 135.75px">
                <h2 style="margin-top: 20px" th:text="${album.getAlbumName()}"></h2>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <!--专辑-->
    <div style="height: 500px;text-align: center;">
        <div style="margin: 0 10%">
            <h5 style="margin-left: 30px;text-align: left;color: orange">专辑列表</h5>
            <ul style="display: block;overflow-y: auto;height: 350px;list-style-type: none">
                <li style="float: left" th:each="album:${albums}">
                    <div style="width: 140px;text-align: center;color: whitesmoke">
                        <div>
                            <a th:href="@{/toAlbumDetail.do/} + ${album.getId()}">
                                <img style="border-radius: 50%;max-width: 120px;max-height: 120px"
                                     th:src="@{/} + ${album.getImageStr()}" alt="图片加载失败">
                            </a>
                        </div>
                        <br>
                        <h5 th:text="${album.getAlbumName()}"></h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--底部信息提示栏-->
<div th:replace="~{commons/commons::footBar}"></div>
</body>
<script th:src="@{/js/cookie.js}"></script>
<script type="text/javascript">
    /**
     * 跳转到播放页面
     * @param songId:歌曲的名称
     */
    function toPlay(songId) {
        post("[[@{/toPlay.do}]]", songId);
    }

    /**
     * 模拟post方式提交表单
     * @param url：表单提交的位置
     * @param params：表单提交的参数
     * @returns {HTMLFormElement}：form表单
     */
    function post(url, params) {
        let form = document.createElement("form");
        form.action = url;
        form.method = "post";
        form.style.display = "none";
        let input = document.createElement("input");
        input.name = "songIds";
        input.value = params;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
        return form;
    }

    let queryName = get("#queryName");
    queryName.onkeypress = handleEnter;

    /**
     * 回车提交事件
     * @param event
     */
    function handleEnter(event) {
        if (event.which === 13) {
            window.location.href = "[[@{/song/query.do/}]]" + queryName.value;
        }
    }
</script>
</html>